.CR0809Rounds{
    font-weight: 800;
}
.SCR09Round{
    font-weight: 800;
}
.LI0809TeamResults{
    font-weight: 800;
}
.UCHL0809TeamResults{
    font-weight: 800;
}
.UCHL0809Rounds{
    font-weight: 800;
}
.pageBackground0809{
    background-color: #b9b6b6;
}
.ChampionshipTable0809{
    height: 9cm;
    width: 13cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.CupTable0809{
    height: 4cm;
    width: 15cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.SuperCupTable09{
    height: 4cm;
    width: 13cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.UefaChampLeagueTable0809{
    height: 4cm;
    width: 17cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}

#ligaI0809button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#ligaI0809button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}

#ligaI0809text{
    color:aliceblue;
    font-size: 5mm;
}

#cupaRomaniei0809button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#cupaRomaniei0809button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}

#cupaRomaniei0809text{
    color:aliceblue;
    font-size: 5mm;
}

#supercupaRomaniei09button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#supercupaRomaniei09button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#supercupaRomaniei09text{
    color:aliceblue;
    font-size: 5mm;
}

#uefaChampionsLeague0809button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#uefaChampionsLeague0809button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#uefaChampionsLeague0809text{
    color:aliceblue;
    font-size: 5mm;
}
#seasonElements0809{
    display: flex;
    flex-direction: row;
}
#season0809buttons{
    display: flex;
    flex-direction: column;
}
#competitionsTable0809{
    display: flex;
    flex-direction: column;
}
#pick0809Message{
    background-color: cadetblue;
    font-size: 0.8cm;
    border: #1f1717;
    border-style:outset;
    margin-left: 1cm;
    height: 1cm;
    width: 13cm;
}
.RelegatedDropdown0809{
    background-color: rgb(247, 195, 176);

}
.PromotedDropdown0910{
    background-color: rgb(247, 195, 176);

}
table, th, tr, td{
    background-color: rgb(247, 195, 176);
    border: 1px solid grey;
    border-collapse: collapse;
}
#buttonText{
    color: aliceblue;
}
#LigaI0809MainRoundResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 7cm;
}
#LigaI0809MainRoundResultsButton:hover{
    cursor: pointer;
}
#CupaRomaniei0809ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 9cm;
}
#CupaRomaniei0809ResultsButton:hover{
    cursor: pointer;
}
#SupercupaRomaniei09ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 6cm;
}
#SupercupaRomaniei09ResultsButton:hover{
    cursor: pointer;
}
#UefaChampionsLeague0809ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 9cm;
}
#UefaChampionsLeague0809ResultsButton:hover{
    cursor: pointer;
}
#LigaI0809MainRoundResultsTable{
    width: 14cm;
    position: absolute;
}
#CupaRomaniei0809ResultsTable{
    width: 13cm;
    position: absolute;
}
#SupercupaRomaniei09ResultsTable{
    width: 9cm;
    position: absolute;
}
#UefaChampionsLeague0809ResultsTable{
    width: 14cm;
    position: absolute;
}
#season0809buttons{
    background-color: #514e72;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 12cm;
    width: 10cm;
    margin-left: 1cm;
}
#competitionsTable0809{
    background-color: grey;
    margin-left: 1cm;
    width: 22cm;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 4px;
}