.CR0910Rounds{
    font-weight: 800;
}
.SCR10Round{
    font-weight: 800;
}
.LI0910TeamResults{
    font-weight: 800;
}
.UEL0910TeamResults{
    font-weight: 800;
}
.UEL0910Rounds{
    font-weight: 800;
}
.pageBackground0910{
    background-color: #b9b6b6;
}
.ChampionshipTable0910{
    height: 8cm;
    width: 14cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.CupTable0910{
    height: 3cm;
    width: 14cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.SuperCupTable0910{
    height: 3cm;
    width: 13cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.UefaEuropaLeagueTable0910{
    height: 3cm;
    width: 15cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.ChampDropdown0910{
    background-color: rgb(247, 195, 176);
}
.RelegatedDropdown0910{
    background-color: rgb(247, 195, 176);
}
.PromotedDropdown1011{
    background-color: rgb(247, 195, 176);
}
.CupDropdown0910{
    background-color: rgb(247, 195, 176);
}
.SuperCupDropdown10{
    background-color: rgb(247, 195, 176);
}
.UELDropdown0910{
    background-color: rgb(247, 195, 176);
}

#ligaI0910button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#ligaI0910button:hover{
    background-color: rgb(33, 33, 158);
}

#ligaI0910text{
    color:aliceblue;
    font-size: 5mm;
}

#cupaRomaniei0910button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#cupaRomaniei0910button:hover{
    background-color: rgb(33, 33, 158);
}

#cupaRomaniei0910text{
    color:aliceblue;
    font-size: 5mm;
}

#supercupaRomaniei10button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#supercupaRomaniei10button:hover{
    background-color: rgb(33, 33, 158);
}
#supercupaRomaniei10text{
    color:aliceblue;
    font-size: 5mm;
}

#uefaEuropaLeague0910button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#uefaEuropaLeague0910button:hover{
    background-color: rgb(33, 33, 158);
}
#uefaEuropaLeague0910text{
    color:aliceblue;
    font-size: 5mm;
}
#seasonElements0910{
    display: flex;
    flex-direction: row;
}
#season0910buttons{
    display: flex;
    flex-direction: column;
}
#competitionsTable0910{
    display: flex;
    flex-direction: column;
}
#pick0910Message{
    background-color: cadetblue;
    font-size: 0.8cm;
    border: #1f1717;
    border-style:outset;
    margin-left: 1cm;
    height: 1cm;
    width: 13cm;
}