.CR1011Rounds{
    font-weight: 800;
}
.LI1011TeamResults{
    font-weight: 800;
}
.UCHL1011TeamResults{
    font-weight: 800;
}
.UCHL1011Rounds{
    font-weight: 800;
}
.pageBackground1011{
    background-color: #b9b6b6;
}
.ChampionshipTable1011{
    height: 9cm;
    width: 14cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.CupTable1011{
    height: 4cm;
    width: 12cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.UefaChampLeagueTable1011{
    height: 4cm;
    width: 17cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    margin-left: 1cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.ChampDropdown1011{
    background-color: rgb(247, 195, 176);
}
.RelegatedDropdown1011{
    background-color: rgb(247, 195, 176);
}
.PromotedDropdown1112{
    background-color: rgb(247, 195, 176);
}
.CupDropdown1011{
    background-color: rgb(247, 195, 176);
}
.UCHLDropdown1011{
    background-color: rgb(247, 195, 176);
}

#ligaI1011button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#ligaI1011button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}

#ligaI1011text{
    color:aliceblue;
    font-size: 5mm;
}

#cupaRomaniei1011button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#cupaRomaniei1011button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#cupaRomaniei1011text{
    color:aliceblue;
    font-size: 5mm;
}
#uefaChampionsLeague1011button{
    margin-top: 1cm;
    margin-left: 1cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 8cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#uefaChampionsLeague1011button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#uefaChampionsLeague1011text{
    color:aliceblue;
    font-size: 5mm;
}
#seasonElements1011{
    display: flex;
    flex-direction: row;
}
#season1011buttons{
    display: flex;
    flex-direction: column;
}
#competitionsTable1011{
    display: flex;
    flex-direction: column;
}
#pick1011Message{
    background-color: cadetblue;
    font-size: 0.8cm;
    border: #1f1717;
    border-style:outset;
    margin-left: 1cm;
    height: 1cm;
    width: 13cm;
}
table, th, tr, td{
    background-color: rgb(247, 195, 176);
    border: 1px solid grey;
    border-collapse: collapse;
}
#buttonText{
    color: aliceblue;
}
#LigaI1011MainRoundResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 8cm;
}
#LigaI1011MainRoundResultsButton:hover{
    cursor: pointer;
}
#CupaRomaniei1011ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 6cm;
}
#CupaRomaniei1011ResultsButton:hover{
    cursor: pointer;
}
#UefaChampionsLeague1011ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 9cm;
}
#UefaChampionsLeague1011ResultsButton:hover{
    cursor: pointer;
}
#LigaI1011MainRoundResultsTable{
    position: absolute;
    width: 15cm;
}
#CupaRomaniei1011ResultsTable{
    position: absolute;
    width: 7cm;
}
#UefaChampionsLeague1011ResultsTable{
    position: absolute;
    width: 13cm;
}
#season1011buttons{
    background-color: #514e72;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
    height: 9cm;
    width: 10cm;
    margin-left: 1cm;
}
#competitionsTable1011{
    background-color: grey;
    margin-left: 1cm;
    width: 22cm;
    border: 1px;
    border-style: solid;
    border-radius: 4px;
}