.CR1213Rounds{
    font-weight: 800;
}
.LI1213TeamResults{
    font-weight: 800;
}
.UCHL1213TeamResults{
    font-weight: 800;
}
.UCHL1213Rounds{
    font-weight: 800;
}
.UEL1213Rounds{
    font-weight: 800;
}
.pageBackground1213{
    background-color: #b9b6b6;
}
.ChampionshipTable1213{
    height: 9cm;
    width: 13cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.CupTable1213{
    height: 4cm;
    width: 12cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.UefaChampLeagueTable1213{
    height: 4cm;
    width: 17cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.UefaEuropaLeagueTable1213{
    height: 4cm;
    width: 15cm;
    margin-top: 1cm;
    margin-left: 3cm;
    background-color: #fff;
    border-radius: 10px;
    border-style: ridge;
    border-width: 3mm;
    border-color: brown;
}
.ChampDropdown1213{
    background-color: rgb(247, 195, 176);
}
.RelegatedDropdown1213{
    background-color: rgb(247, 195, 176);
}
.PromotedDropdown1314{
    background-color: rgb(247, 195, 176);
}
.CupDropdown1213{
    background-color: rgb(247, 195, 176);
}
.SuperCupDropdown13{
    background-color: rgb(247, 195, 176);
}
.UCHLDropdown1213{
    background-color: rgb(247, 195, 176);
}
.UELDropdown1213{
    background-color: rgb(247, 195, 176);
}

#ligaI1213button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#ligaI1213button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}

#ligaI1213text{
    color:aliceblue;
    font-size: 5mm;
}

#cupaRomaniei1213button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 15mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#cupaRomaniei1213button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#cupaRomaniei1213text{
    color:aliceblue;
    font-size: 5mm;
}
#uefaChampionsLeague1213button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#uefaChampionsLeague1213button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#uefaChampionsLeague1213text{
    color:aliceblue;
    font-size: 5mm;
}
#uefaEuropaLeague1213button{
    margin-top: 0.5cm;
    background-color: darkslateblue;
    height: 20mm;
    width: 7cm;
    border-radius: 1cm;
    border: 1mm;
    border-style:ridge;
    border-color: rgb(58, 48, 48);
}
#uefaEuropaLeague1213button:hover{
    background-color: rgb(33, 33, 158);
    cursor: pointer;
}
#uefaEuropaLeague1213text{
    color:aliceblue;
    font-size: 5mm;
}
#seasonElements1213{
    display: flex;
    flex-direction: row;
}
#season1213buttons{
    display: flex;
    flex-direction: column;
}
#competitionsTable1213{
    display: flex;
    flex-direction: column;
}
#pick1213Message{
    background-color: cadetblue;
    font-size: 0.8cm;
    border: #1f1717;
    border-style:outset;
    margin-left: 1cm;
    height: 1cm;
    width: 13cm;
}
table, th, tr, td{
    background-color: rgb(247, 195, 176);
    border: 1px solid grey;
    border-collapse: collapse;
}
#buttonText{
    color: aliceblue;
}
#LigaI1213MainRoundResultsTable{
    position: absolute;
    width: 14cm;

}
#CupaRomaniei1213ResultsTable{
    position: absolute;
    width: 10cm;

}
#UefaChampionsLeague1213ResultsTable{
    position: absolute;
    width: 12cm;

}
#UefaEuropaLeague1213ResultsTable{
    position: absolute;
    width: 11cm;

}
#LigaI1213MainRoundResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 7cm;
}
#LigaI1213MainRoundResultsButton:hover{
    cursor: pointer;
}
#CupaRomaniei1213ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 6cm;
}
#CupaRomaniei1213ResultsButton:hover{
    cursor: pointer;
}
#UefaChampionsLeague1213ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 11cm;
}
#UefaChampionsLeague1213ResultsButton:hover{
    cursor: pointer;
}
#UefaEuropaLeague1213ResultsButton{
    background-color: rgb(223, 56, 56);
    margin-left: 10cm;
}
#UefaEuropaLeague1213ResultsButton:hover{
    cursor: pointer;
}